<ion-header>
  <nl-modal-navbar [title]="title" [complaint]="suggesiton"></nl-modal-navbar>
</ion-header>

<ion-content>
  <form name="newsuggesiton" [formGroup]="newSuggestion" (ngSubmit)="saveSuggestion()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label>Select Child</ion-label>
        <ion-select [(ngModel)]="child" formControlName="student" (ngModelChange)="selectChild($event)">
          <ion-option *ngFor="let student of students" [value]="student">{{student.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="standardId">
        <ion-label>Suggestion For</ion-label>
        <ion-select [(ngModel)]="category" formControlName="category" (ngModelChange)="setCategory(category)">
          <ion-option *ngFor="let category of categories" [value]="category">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="teachers">
        <ion-label>Select Teacher</ion-label>
        <ion-select [(ngModel)]="againstEmployeeId" formControlName="againstEmployeeId" (ngModelChange)="setTeacher($event)">
          <ion-option *ngFor="let teacher of teachers" [value]="teacher.teacherId">{{teacher.teacherName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="childCategories">
        <ion-label>Select SubCategory</ion-label>
        <ion-select [(ngModel)]="childCategory" formControlName="childCategory">
          <ion-option *ngFor="let childCategory of childCategories" [value]="childCategory.id">
            {{childCategory.name}}
          </ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Suggestion Details
      </ion-list-header>
      <ion-item>
        <ion-input type="text" formControlName="title" placeholder="Title (max.50)" maxlength="50"> </ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea rows="8" [(ngModel)]="description" formControlName="description" placeholder="Description" maxlength="200"></ion-textarea>
      </ion-item>
      <div style="top: -18px; position: relative; text-align: right;">( {{200 - description.length}} )</div>
    </ion-list>
    <ion-list padding>
      <button ion-button block type="submit" [disabled]="newSuggestion.invalid">Submit</button>
    </ion-list>
  </form>
</ion-content>
