.footer-button-wrap {
  float: right;
}

.item-input-wrapper {
  ion-input {
    position: absolute;
  }
}
.commentList {
  .item-inner {
    border-bottom: transparent !important;
  }
  .from-me {
      position: relative;
      padding: 10px 20px;
      color: white;
      background: #0B93F6;
      border-radius: 25px;
      float: right;
      max-width: 255px;
      word-wrap: break-word;
      margin-bottom: 20px;
      line-height: 24px;
  }
  .from-me:before {
      content: "";
      position: absolute;
      bottom: -2px;
      right: -7px;
      height: 20px;
      border-right: 20px solid #0B93F6;
      border-bottom-left-radius: 16px 14px;
      -webkit-transform: translate(0, -2px);
  }
}

.messages {
    width: 100%;
    position: absolute;
    .message {
      font-size: 16px;
      width: 70%;
      padding: 8px 10px;
      background: #387ef5;
      color: #fff;
      border-radius: 5px;
      margin: 5px;
      float: left;
      .date {
        display: block;
        font-size: 10px;
        color: goldenrod;
      }
    }
    .message.me {
      float: right;
      background: #fff;
      border: 1px solid #387ef5;
      color: #222;
      text-align: right;
      .date {
        color: grey;
      }
    }
  }
