

/*Corner stone theme*/

.errInfo{
  text-align: center;
  box-shadow: 2px 4px 8px grey;
  margin-top: 5px;
}

.csOTPInput{
  @extend .csInput;
  letter-spacing: 4px;
}

.item-label-stacked .text-input-md, .item-label-floating .text-input-md {
    .csOTPInput{
            letter-spacing: 4px;
    font-size:25px;
    }

}

.item-label-stacked .text-input-ios, .item-label-floating .text-input-ios {
    .csOTPInput{
          letter-spacing: 4px;
    font-size:25px;
    }
}