<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="getOtp()" *ngIf="!user" novalidate>
    <ion-item>
      <ion-label class="loginLbl" stacked>
        <p>Mobile Number</p>
      </ion-label>
      <ion-input #username type="number" maxlength="10" formControlName="mobileNo" placeholder="Enter 10 digits mobile number" autofocus></ion-input>
    </ion-item>
    <ion-item *ngIf="(!loginForm.controls['mobileNo'].valid && numberSubmit) && (loginForm.controls['mobileNo'].touched || numberSubmit)" class="errInfo">
      <p>Not Valid Number.</p>
    </ion-item>
    <button ion-button type="submit" class="otpBtn">GET OTP</button>
  </form>
  <form [formGroup]="loginVerifyForm" (ngSubmit)="verifyOtp()" novalidate *ngIf="user">
    <ion-item>
      <ion-label class="loginLbl" stacked>
        <p>Enter OTP</p>
      </ion-label>
      <ion-input #otp type="text" formControlName="otp" maxlength="5" placeholder="five digits otp"></ion-input>
    </ion-item>
    <ion-item *ngIf="(!loginVerifyForm.controls['otp'].valid  && otpSubmit) && (loginVerifyForm.controls['otp'].touched) || otpSubmit" class="errInfo">
      <p>Not Valid OTP.</p>
    </ion-item>
    <button ion-button type="submit" class="otpBtn">Verify</button>
    <div class="resendOtpBtn">
      <p text-center>Haven't received OTP?</p>
      <p text-center><a href="#" (click)="resendOtp()">click here</a> to resend.</p>
      <p text-center><a href="#" (click)="updateNo()">click here</a> to update contact number.</p>
    </div>
  </form>
</ion-content>