.login-screen{
  text-align: center;
  img{
    height: 150px;
    margin-top: 10%;
  }
  ion-item{
    background: $transparent;
    ion-icon{
      font-size: $icoSize;
    }
    .item-inner{
      .text-input {
        &::placeholder{
          font-size: $font-md;
          font-weight: normal;    
          letter-spacing: 0px;
        }
        // padding-right: 0px;
        letter-spacing: 2px;
        font-size: $font-lg;
        font-weight: 600;
        margin: 12px 8px 13px 0;
        width: $full-width;
      }
    }
  }
  .otpItem{
    ion-label {
      margin-left: 33%;
    }
    .item-inner{
      .text-input {
        letter-spacing: 6px;
      }
    }
  }

  .errInfo {
  .item-inner {
  border-bottom: transparent !important;
  p {
  color: $errorColor;
  }
  }
  }
  .resendOtpBtn {
  top: 40px;
  position: relative;
  }
}

