<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button class="navBtnRight" (click)="dismiss()">
        <span color="light" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      View Complaint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="view-complaint" >
  <ion-card>
    <ion-item>
      <ion-note item-right ><span><ion-icon name="at" [style.color] = "complaint.statusColor"></ion-icon> {{complaint.statusName}}</span></ion-note>
    </ion-item>
    <ion-item>
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span  [style.color] = "complaint.statusColor">Title</span>
      </div>
      <h2>{{complaint.title}}</h2>
    </ion-item>    
    <ion-item>
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color] = "complaint.statusColor">Description</span>
      </div>
      <h2><pre>{{complaint.description}}</pre></h2>
    </ion-item>    
    <ion-item>
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color] = "complaint.statusColor">Against</span>
      </div>
      <h2>{{complaint.againstCategoryName}}</h2>
    </ion-item>
    <ion-item *ngIf="complaint.rca">
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color] = "complaint.statusColor">Root Cause</span>
      </div>
      <h2>{{complaint.rca}}</h2>
    </ion-item>
    <ion-item *ngIf="complaint.closedOn">
      <div class="complaint-item">
        <hr [style.border-top]="'1px' + ' groove ' + complaint.statusColor">
        <span [style.color] = "complaint.statusColor">Closed On</span>
      </div>
      <h2>{{complaint.closedOn}}</h2>
    </ion-item>
    <ion-item>
      <ion-note item-right><ion-icon name="clock" [style.color] = "complaint.statusColor"></ion-icon><span> {{complaint.createdAt| amTimeAgo}}</span>      
      </ion-note>
      <ion-note item-left>
        <ion-icon name="checkmark-circle" [style.color] = "complaint.statusColor"></ion-icon><span> Anonymous</span>
      </ion-note>
    </ion-item>

</ion-card>
</ion-content>
