<ion-header >
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Calendar</ion-title>
</ion-navbar>
</ion-header>


<ion-content class="timeline" padding>
        <section id="cd-timeline" class="cd-container">
          <div *ngFor="let activity of timeline">
            <div class="cd-timeline-block">
              <div class="cd-timeline-picture dark">
					    <span>{{activity.date}} {{activity.month}}</span>
					     <p class="daytimeline"> {{activity.day}}</p>
			       </div>
             </div>
              <div *ngFor="let tre of activity.events">
              <div class="cd-timeline-content dark">
                <h6 class="timeline-title">{{tre.title}}</h6>
              </div>
            </div>
          </div>
        </section>
</ion-content>
