// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00bcd4,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  cool:       #607D8B,
  fab:        #3e9e3e,
  header:     #387ef5,
  color1:     #00bcd4,
  colorLight: #80deea,
  transparent: rgba(0, 0, 0, 0)
);

$color0 :       #fd4544;
$color1 :       #00bcd4;
$colorLight:    #00acc1;
$dim:           #dddddd;
$csBlue:        #37cbff;
$csGreen:       #47c947;
$csGray:        #818181;
$csDark:          #000; 

$csTransparentWhite: rgba(255, 255, 255, 0.66);

$csInputIconSize: 25px;
$csTop:           5px;

$csZindex: 10;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";


//Defined Function
@function csBackgroundSvg($image){
    @return url('../assets/svg/'+$image); 
}

@function csBackgroundImage($image){
    @return url('../assets/images/'+$image); 
}