<ion-menu [content]="content">
  <ion-header>
    <ion-item class="csHeader">
      <ion-avatar item-left>
        <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/100/male3-512.png">
      </ion-avatar>
      {{name}}
    </ion-item>
  </ion-header>

  <ion-content class="csBlueColor">
    <ion-list>
      <button class="csStrip dashButtonMargin" color="transparent" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header class="csLightText " color="transparent">
        Account
      </ion-list-header>
      <button class="csStrip" ion-item menuClose *ngFor="let p of account" (click)="openPage(p)">
        <ion-icon item-left [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>