<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Complaints</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <ion-list>
    <ion-item-sliding *ngFor="let complaint of complaints" #slidingItem>
      <a ion-item detail-push detail-none href="#" (click)="viewComplaint(complaint)">
        <h3><b>{{complaint.title}}</b></h3>
        <p>{{complaint.description}}</p>
        <ion-note item-right>{{complaint.createdAt | amTimeAgo}}</ion-note>
        <ion-note item-right>{{complaint.statusName}}</ion-note>
      </a>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="showPrompt(slidingItem, complaint)" *ngIf="complaint.statusId != 6">
          <ion-icon name="md-close"></ion-icon>
          Close
        </button>
        <button ion-button color="dark" (click)="openCommentModal(slidingItem, complaint)">
          <ion-icon name="ios-chatbubbles-outline"></ion-icon>
          Comments
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="EmptyComplaints">
      <h3> NO COMPLAINTS </h3>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-fab right bottom>
    <button ion-fab (click)="open()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
